main {
  display: flex;
  flex-direction: column;
  height: 100svh;
  color: white;
  padding: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

header > * {
  width: 50%;
  margin: 0px;
}

.list {
  border-radius: 8px;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
}
